* {
  padding: 0;
  margin: 0;
  font-family: 'Baloo Tamma 2', cursive;
}

nav {
  font-size: 1.75rem;
}

.navbar-brand {
  margin-right: 0.75rem;
}

a:hover {
  text-decoration: none;
}

main {
  margin: 0rem 2rem;
}

.search-bar {
  width: auto!important;
}

.search-button i {
  position: relative;
  top: 2px;
}

#topButton {
  display: none;
  position: fixed;
  top: 0rem;
  right: 0rem;
  z-index: 99;
  outline: none;
  cursor: pointer;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 0;
  width: 100%;
  border: none;

}

#topButton:hover {
  background-color: white;
  color: #007bff;
  border: none;
}

@media only screen and (max-width: 450px) {
  .navbar-toggler {
    order: 2;
  }
  .search-form {
    order: 3;
    width: 100%;
  }

  main {
    margin: 0;
  }
}
